<div class="container d-flex justify-content-center m-5 col-12">
    <div class="col-8 border d-flex justify-content-center">
        <div class="p-5 col-8 text-center">
            <h3>Coach answer :</h3>
            <blockquote class="blockquote">
                <p><%= @answer %></p>
            </blockquote>
            <div class="border col-3 bg-light col-3 d-inline-block text-center w-50">
                <%= link_to "Ask again", "/ask" %>
            </div>
        </div>
    </div>
</div>